/** PARTENAIRE Footer**/
.partenaire_footer {
  width: 620px;
  height: 50px;
  overflow: auto;
  }
  
  .titre_footer {
  width: 620px;
  height: 60px;
  color: #e6f0af !important;
  font-size: 60px;
  text-align: center;}


  .messagedefilant {
    display: block;
    margin: 40px auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 50%;
    max-width: 640px;
    height: 60px;
  }
   
  .messagedefilant div {
    position: absolute;
    min-width: 100%; /* au minimum la largeur du conteneur */
  }
   
  .messagedefilant div span, 
  .messagedefilant div:after {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    white-space: nowrap;
    top:0;
    color: rgb(229, 238, 110);
  }
   
  .messagedefilant div span {
    animation: 3s ease-in 1s infinite linear;
    background: #cde;
  }
   
  .messagedefilant div:after {
    position: absolute;
    top:0; left:0;
    content:attr(data-text);
    animation: defilement2 3s infinite linear;

  }
   
  @keyframes defilement {
    0% { margin-left: 0; }
    100% { margin-left: -100%; }
  }
   
  @keyframes defilement2 {
    0% { margin-left: 100%; }
    100% { margin-left: 0%; }
  }
  
